html {
  font-size: 10px;
  font-family: 'Lato';font-size: 14px;
  background-color: #DCCCBB;
  color: #472C1B;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 800px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

h1 {
  margin: 0;
  padding: 20px 0;
}

img {
  display: block;
  margin: auto;
}

.intro {
  text-align: center;
}

.images {
  display: flex;
}

button {
  background-color: #472C1B;
  color: #DCCCBB;
  display: block;
  margin: 0 auto;
}

.caption {
  font-size: 10px;
  margin-left: 170px;
}